.main {
    display: flex;
    flex-direction: row;
}
.filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: red;
    padding: 2rem;
    gap: 1rem;
}
.filterDiv {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 2px solid black;
    gap: 1rem;
    border-top: 0px;
    border-bottom: 0px;
    background-color: orange;
}
.hr {
    position: relative;
    width: calc(100% + 2rem);
    left: -1rem;
    border-top: 2px solid black;
    opacity: 100%;
}

.partsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(161, 199, 201);
}
.partsTable {
    border-collapse: collapse;
    width: 100%;
}
.tr {
}
.th,
.td {
    padding: 1rem;
    border: 2px solid rgb(255, 19, 243);
}
.td {
    padding: 1rem;
    border: 2px solid purple;
}