.main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
}
.infoCont {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
}
.profileInfoCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: orange;
    padding: 2rem;
    gap: 1rem;
}
.userDetailsCont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.4rem;
    padding: 0.5rem;
    background-color: blue;
}
.moreInfoCont {
    background-color: green;
}
.img {
    width: 200px;
}