.partMenuDiv {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: red;
    width: 25rem;
    height: 10rem;
    left: 40;
}
[data-visible=false] {
    display: none;
}
.partMenu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    background-color: #c7c7c7;
    gap: 0.5rem;
}

.part {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 7.5rem;
    padding: 1rem;
    border: 2px solid #353535;
    list-style: none;
}
.part:hover {
    background-color: #d4d4d4;
}
.part:active {
    background-color: #c7c7c7;
}

.name {
    text-decoration: none;
    color: black;
}