.partMenuDiv {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    width: 31rem;
}
[data-visible=false] {
    display: none;
}
.partMenu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #c7c7c7;
    gap: 0.5rem;
}

.part {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #353535;
    list-style: none;
}
.part:hover {
    background-color: #d4d4d4;
}
.part:active {
    background-color: #c7c7c7;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    width: 7rem;
    height: 7rem;
    text-align: center;
}